.get-start-banner {
  background: url("../../Assest/Image/howToGetStated.jpg");
  background-position: center;
  background-size: cover;
  height: 83vh;
  position: relative;
}

.gsb-text {
  margin-top: -80px;
}

.get_h3 {
  position: relative;
}
.get_h3::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 2.5px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.sgbBox {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #feaf1d;
  color: white;
  position: relative;
}

.sgbBox-icon {
  position: absolute;
  height: 30px;
  width: 68%;
  right: -67%;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .sgbBox-icon {
    right: 21px;
    height: 30px;
    width: 68%;
    transform: rotate(89deg);
    bottom: -58px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .second-item {
    display: none;
  }
}
