.join-us {
  /* clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 96%); */
  background: url("../../Images/Why\ join\ us.jpg");
  background-position: center;
  background-size: cover;
  height: 480px;
  position: relative;
  width: 100%;
}

.join-us::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.join-icon {
  width: 80px;
  height: 80px;
}
/* .bg-min-light{
  background-color: rgb(230, 228, 228);
} */
.shadow-90{
  box-shadow: 0 0rem 2rem rgba(0,0,0,.15)!important;
}
.rounded-9{
  border-radius: 9px;
}
