.join-us {
  background: url("../../Images/Why\ join\ us.jpg");
  background-position: center;
  background-size: cover;
  height: 83vh;
  position: relative;
  width: 100%;
}

.join-icon {
  width: 80px;
  height: 80px;
}

.shadow-90{
  box-shadow: 0 0rem 2rem rgba(0,0,0,.15)!important;
}
.rounded-9{
  border-radius: 9px;
}
