
.afterBuyerLogin {
    background: url("../../Assest/Image/Fainal/WhatsApp\ Image\ 2021-08-29\ at\ 8.25.29\ PM.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white !important;
  }
  