
.afterBuyerLogin {
    background: url("../../Assest/Image/Buyer.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  /* .afterBuyerLogin::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);   
      top: 0;
      left: 0;
      
    }
   */