.about-us {
  background: url("../../Images/About\ us.jpg");
  background-position: center;
  background-size: cover;
  height: 83vh;
  position: relative;
  width: 100%;
}

.about-us-container {
  padding: 40px 0;
}
