.join-us-title {
  position: relative;
}
.join-us-title::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.join-us-container {
  background: url("../../Assest/Image/joinNow.jpg");
  background-size: cover;
  background-position: right;
}


.buyer_login{
  background: url("../../Assest/Image/buyerJoinIn.jpg");  
}
.seller_login{
  background: url("../../Assest/Image/sellerJoinIn.jpg");
}
.bg-cover{
  background-size: cover;
  background-position: center;
}