.join-us-title {
  position: relative;
}
.join-us-title::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.join-us-container {
  background: url("../../Assest//Image//Fainal/Join\ Now.jpeg");
  background-size: cover;
  background-position: right;
}


.buyer_login{
  background: url("../../Assest/Image/Fainal/Buyer\ Login.jpeg")  
}
.seller_login{
  background: url("../../Assest/Image/Fainal/Career\ 2.jpeg");
}
.bg-cover{
  background-size: cover;
  background-position: center;
}