* {
  margin: 0;
  padding: 0;
}
.bg-sky {
  background-color: #417ce2;
}
.text-sky {
  color: #417ce2;
}

.bg-orange {
  background-color: #feaf1d !important;
}
.text-orange {
  color: #feaf1d;
}
.text-decoration {
  text-decoration: none !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-600 {
  font-weight: 600 !important;
}

/* Font Size */
.fs-40 {
  font-size: 40px !important;
}
.fs-50 {
  font-size: 36px !important;
}
.fs-17 {
  font-size: 17px !important;
}

/* z-index */
.index-1 {
  z-index: 1;
}
.index-0 {
  z-index: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.w-75px {
  width: 75px !important;
}
.rounded-9 {
  border-radius: 9px;
}

.mb-135 {
  margin-bottom: 135px !important;
}
.mb-70 {
  margin-bottom: 90px !important;
}
.buyerCardLogo {
  transform: translateY(-46px);
  margin: auto;
  margin-bottom: -20px;
}

.text-align-justify {
  text-align: justify !important;
}

.text-bg {
  background: url("./Assest/Image/textBg.jpeg");
  background-size: cover;
  background-position: center;
}
.py-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.pt-70 {
  padding-top: 70px !important;
}

.-mt-10 {
  margin-top: -10px !important;
}

.text-justify {
  text-align: justify !important;
}

.h-200 {
  height: 200px !important;
}
.cover {
  object-fit: cover !important;
}
.h-100 {
  height: 100% !important;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 150px;
  max-height: 100vh;
}

.social-icon {
  display: inline-block !important;
  padding: 0 16px 0 0;
  font-size: 18px;
  color: black !important;
}
